@CHARSET "UTF-8";

td {
	border: 1px solid #cccccc;
	padding: 4px;
}

.turn {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.power {
	color: #009900;
}

.battery {
	color: #000099;
}

.system {
	color: #990000;
}

.weapon {
	color: #FF8C00;
}

.defense {
	color: #009999;
}

.movement {
	color: #A0522D;
}

.power-label-header {
	font-weight: bold;
}

.power-label-header, .power-label-text {
	text-transform: uppercase;
	width: 200px;
}

.power-label-expression, .power-item-expression {
	font-weight: bold;
}

.power-label-expression.power {
	background-color: #009900;
	color: #ffffff;
}

.power-item {
	text-align: center;	
	width: 60px;	
}

.power-item-text, .power-item-expression {
	padding: 4px;
	text-align: center;	
	width: 100%;
	border: 1px solid transparent;
}