<!DOCTYPE html>
<html>
<head>
<title>Energy Allocation</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css">
<link rel="stylesheet" href="energy-allocation.css">
</head>
<body>
<div class="columns" id="app">
	<div class="column">
		<section class="section">
			<section class="form">
				<table id="energyallocation">
					<tr>
						<td class=power-label-header>Energy</td>
						<td class="turn" v-for="turn in displayturns">{{ turn }}</td>
					</tr>
					<tr v-for="(row, powerIndex) in powers">
	    				<td :class="powerlabelclass(row)">{{ row.name }}</td>
	    				<td class="power-item" v-for="turn in turns">
							<div v-if="row.expression">
	    						<span :class="poweritemclass(row)">{{calculatepower(powerIndex, turn)}}</span>		
							</div>
							<div v-else>
	    						<input :class="poweritemclass(row)" type="number" :tabindex="tabindex(powerIndex, turn)" v-model="row.turns[turn]" min="0" />		
							</div>
						</td>
	  				</tr>
				</table>
			</section>
     	</section>
	</div>
</div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="energy-allocation.js"></script>

</body>
</html>